<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
</head>
<body>
    <div id="gallery">
        {% for image in images_data %}
        <div class="image-container">
            <img src="{{ image.img_path }}" alt="Image" style="width:200px; height:200px;">
            {% for pptx_path in image.pptx_paths %}
            <p><a href="{{ pptx_path }}" target="_blank">{{ pptx_path }}</a></p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
