/google/
/inputTextFolder/
/ppt-output/
/spaceConcept/
/venv/
/utils/clip_api/
/modules/PPT_JSON_conversion/images/
/modules/findBackgroundIMG/source/
/modules/findBackgroundIMG/image_gallery.db
/modules/CleanPPT/integratedUI/test0.py
/modules/CleanPPT/integratedUI/UI_CN.spec
/modules/CleanPPT/integratedUI/UI.spec
/modules/CleanPPT/integratedUI/build/
/build
/dist
main.spec
/modules/carPriceAndSeg/car-pic/
